*{
    margin: 0;
    padding:0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    background:#f7f4f4;
    box-shadow:rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #navbar li {
    list-style: none;
    padding: 0 15px;
    position: relative;
  }
  #navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #0f0909;
  }
  #navbar a:hover,
  #navbar li a.active {
    color: #0f1312;
  }
  #mobile {
    display: none;
  }
  #navbar li a.active::after,
  #navbar a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color:red;
    position: absolute;
    bottom:-10px;
    left: 20px;
  }
  #buttons{
    display: flex;
    justify-content:center;
}
.container{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(pictures/nerdo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top 10% right 4%;
    padding:50px 50px;
    color:white;
}
.container-child{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container h3{
    padding:5px 5px;
}
.container span{
    background-color: red;
    color: white;
    padding:2px;
    border-radius: 5px;
    font-size:0.5rem;
    text-align: center;
}
.container-2 img{
    height: 30vh;
}
.btn-2{
   padding:16px 30px;
    color: black;
    background-color: white;
    border-style: none;
    margin-right: 10px;
}
.btn-3{
    padding:18px 30px;
    color: white;
    border:2px solid white;
    background-color: transparent;
}
.container-2{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding:20px 30px;
   column-gap: 10px;
}
.pre-container-1 p{
    padding:5px 5px;
    font-size:0.9rem;
    line-height: 1.01em;
    color: rgb(124, 120, 120);
}
.pre-container-2 p{
    font-size: 13px;
    line-height:0.9em;
    color: rgb(124, 120, 120);
}

.box{
    padding:20px 10px;
}

.box h5{
    color: rgb(243, 21, 21);
    padding:10px 20px;
}
.container-3{
    display: flex;
    justify-content:space-between;
    padding:10px 20px;
    column-gap: 10px;
}
.container-3 img{
   width:25%;
   padding:5px 10px;
}

.container-3-1st p{
    color: rgb(124, 120, 120);
    font-size:0.9rem;
    padding:5px 10px;
}

.container-3-2nd p{
    width: 230px;
    color: rgb(124, 120, 120);
    font-size:0.9rem;
}

.container-3-3rd h2 {
   padding:10px 10px;
    font-weight: 300;
}
.container-3-3rd p{
    color: white;
    font-size:0.9rem;
}
.top-box{
    padding:30px 50px;
    text-align:center;
}
.top-box h5{
    color: red;
   padding:20px 20px;
   text-align:center;
}
.top-box h1{
    padding:10px 10px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.8rem;
}
.container-4{
    padding:10px 20px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    align-items: center;
    font-size:0.9rem;
    padding:20px 20px;
    margin-bottom:20px;
}

.container-4 img{
  width:100%;
}
.container-4 button{
    padding:5px 5px;
    background-color:rgb(255, 25, 25);
    border-radius:5px;
    border-style: none;
    color:white;
    font-size:10px;
    margin:12px 15px;
}

.box-1 p, h4{
    padding:5px 20px;
    font-size:0.9rem;
}
.box-1 h3{
    padding:5px 20px;
    font-size:0.9rem;
}
.container-4 span{
    color: white;
    background-color: red;
    font-size:0.5rem;
    padding: 2px;
    border-radius: 8px;
}
.container-4 p{
    width: 230px;
    font-size:0.7rem;
    color: rgb(124, 120, 120);
    font-weight:600;
}

.box-1, .box-2, .box-3 img{
    width:100%;
}
.box-2{
    width: 250px;
    box-shadow:rgba(17,12,46,0.15) 0px 48px 100px 0px;
    background-color: white;
    padding-bottom:10px;
    
}
.box-2  p, h4 {
   padding:5px 20px;
   font-size:0.9rem;
}
.box-2 h3{
    padding:5px 20px;
    font-size:0.9rem;
}
.box-3{
    width: 250px;
    background-color: white;
    box-shadow:rgba(17,12,46,0.15) 0px 48px 100px 0px;
   padding-bottom:10px;
}
.box-3  p, h4 {
    padding:5px 20px;
    font-size:0.9rem;
}
.box-3 h3{
    padding:5px 20px;
    font-size:0.9rem;
}
.container-5{
    background-color:rgb(235, 5, 5);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding:50px 50px;   
}
.container-5 h5{
    color: white;
}
.container-5 span{
    color: black;
    background-color: white;
    font-size:0.8rem;
    border-radius: 6px;
}
.box-4-pro{
    display: flex;
    justify-content: space-between;
}

.box-4-pro h1{
    font-weight: 300;   
}
.box-4-pro p{
   width: 50%;
    padding:20px 30px;
    font-size: 12px;
    color: white;
    line-height: 1.6em;
}

.container-6{
    display: grid;
    place-content: center;
   font-size:0.95rem;
  margin:40px 40px;
}
.container-6-1{
    margin:40px 40px;
    background-color:white;
    box-shadow:-1px 0 3px #dfd9d9;
}
.hmm{
    display:
    justify-content: space-between;
    margin:10px 0;
}


.btn-7{
    display: block;
   padding:10px 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin:10px 10px;
    font-size:0.8rem;
    border-style: none;
    text-align:center;
}
.box-5 input{
    padding:5px 10px;
   margin:5px;
}

.box-6 input{
    padding:5px 10px;
}
.box-6 select{
    padding:5px 10px;
    margin:10px;
}
.box-7{
    margin-bottom: 10px;
}
.box-7 input{
    width: 78px;
    height: 30px;
    margin:10px 5px;
}
.box-7 select{
    padding:5px 10px;
   margin: 10px;
}
.boy{
    padding:10px 20px;
    margin:10px;
}
.btn-8{
    color:red;
    background-color: white;
    font-weight: 800;
    border-style: none;
    margin-top: 20px;
}

.sub-main p{
    font-size: 10px;
    width: 150px;
    color: white;
}
.container-7{
    display:flex;
    justify-content: space-between;  
    border-bottom:1px solid gray;
}

.cube img{
    height: 40px;
    border-radius: 25px;
    border: 2px solid rgb(180, 176, 176);
    margin:5px 10px;
}
.cube p{
    color: rgb(124, 120, 120);
    font-size:0.9rem;
    padding:5px 10px;
}
.cube h4{
   padding:5px 10px;
}
.cube h6{
    padding:10px 10px;
}
.container-8{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:50px;
}
.container-9{
    background-color:rgb(235, 5, 5);
    color: white;
    font-size:0.99rem;
   padding:10px 30px;
}
.container-9 img{
    width:50%;
    height:70vh;
}

#items{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom:40px;
}

#items img{
    width:50px;
    height: 50px;
    padding:5px 20px;
}
.container-9 p{
    font-weight: 700;
    padding:5px 10px;
    color:white;
}
#comment{
    padding:10px 10px;
}
.comment{
    width: 80%;
    padding:10px 5px;
    margin: 20px 10px;
}
#lorem{
    width:70%;
    margin:20px 10px;
}
main{
   text-align:center;
   margin-top:40px;
}
main, p{
    color: rgb(124, 120, 120);
    font-size: 13px;
    padding:10px 10px;
}
main h2{
    color: black;
}
.container-10{
    display:grid;
    margin:10px 30px;
    justify-content:center;
    grid-template-columns: repeat(3,1fr);
}
.cube-3 img{
    width:100%; 
}
.cube-3 {
    padding-bottom:10px;
    width: 270px;
    background-color:white;
    box-shadow:rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.cube-3 a, h6{
    padding:10px 10px;
    color:rgb(233, 13, 13);
}
.cube-3 p{
   font-size:0.76rem;
   padding:10px 20px;
   font-weight:400;
  color:black;
}
.cube-3 h3{
   padding:4px 15px;
   font-size:0.8rem;
}
footer{
    background-color:black;
    padding:30px 30px;
}
.container-11{
    margin-top: 40px; 
}

.container-11 span{
    color:red;
}
.container-11 p{
    color:gray;
}
.cube-4{
   display:flex;
   justify-content:space-evenly;
   align-items:center;
   color:white;
   border-bottom:1px solid gray;
}
.btn-10{
    padding:12px 30px;
    background-color:rgb(233, 13, 13);
    border-style: none;
    color:white;
    border-radius:5px;
}
.cube-4 input{
    padding:10px 20px;
    background-color:black;
    border:1px solid gray;
    border-radius:2px;
    color:aliceblue;
}
#cube{
    width:30%;
    color:white;
    font-size:0.9rem;
}
.cube-4 input::placeholder{
    font-size:0.76rem;
    color:lightgray;
}

#images img{
    width:30px;
    height:30px;
    background-color:red;
   border-radius:50%;
   margin:10px 5px;
}
b{
    color:white;
    font-weight: 700;
    font-size:0.8rem;
}
.cube-5{
    margin:20px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.cube-6 p{
   width: 200px;  
}
.cube-9{
    color:white;
}
.cube-9 p{
    width: 230px;
}
.cube-9 h4{
    color: red;
}
.container-11 h3,h2{
    color:white;
}
#para{
    text-align:center;
}
#close {
    display: none;
    cursor: pointer;
  }


/*tablets */
@media (max-width:799px){
    
    #navbar{
            background-color:rgb(245, 243, 243);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -300px;
            height: 120vh;
            width: 200px;
            color:black;
            box-shadow:rgba(17,12,46,0.15) 0px 48px 100px 0px;
            padding: 80px 0 0 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #navbar.active {
        right: 0px;
      }
      #navbar li {
            margin-bottom:20px;  
        }
    
      #mobile {
        display:flex;
      }
      #mobile #open {
        cursor: pointer;
        position: relative;
        z-index: 10;
      }
      
     
    .container{
        background-position:top 30% right 25%;
        padding:50px;
        color:white;
        font-size:0.9rem;
    }
    .container-2{
       text-align:center;
     }
    .container-3{
        display:grid;
       grid-template-columns:1fr;
      justify-content:center;
        padding:10px 20px;
        column-gap: 10px;
        margin:20px 30px;
    }
    .container-3 img{
       width:30%;
       padding:5px 10px;
       margin: 10px 20px;
    }
    .container-4{
        padding:10px 20px;
        display:flex;
        flex-direction: column;
        gap: 30px;
        justify-content:center;
        align-items: center;
        font-size:0.9rem;
        margin-bottom:50px;
    }
    .container-4 img{
      width:100%;
    }
    .container-10{
        padding:10px 20px;
        display:flex;
        flex-direction: column;
        gap: 30px;
        justify-content:center;
        align-items: center;
        font-size:0.9rem;
        margin-bottom:50px;
    }
    
    footer{
        background-color:black;
        padding:40px 30px;
        
    }
}

@media (max-width:450px) {
   
    #navbar{
        background-color:rgb(245, 243, 243);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 200px;
        color:black;
        box-shadow:rgba(17,12,46,0.15) 0px 48px 100px 0px;
        padding: 80px 0 0 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-2 {
    padding: 8px 10px;
}
#buttons{
  margin:20px 0;
}
#header h1{
    font-size: 20px;
}
#header{
    padding:10px 30px;
}
.container{
    background-position:center;
    text-align:center;
}
.container-child h1{
    font-size:23px;
}
.container-child h3{
    font-size:13px;
}
.box h1{
    font-size:0.9rem;
}
.box{
      text-align:center;
    }
.container-2{
   display:grid;
   place-items:center;
 }
.container-3 p{
  font-size:12px;
}
.container-3 img{
    width:80%;
 }
 .top-box h5{
     font-size:13px;
 }
 .top-box h1{
     font-size:0.9rem;
 }
 .container-4 {
 margin-bottom:70px;
}
.container-4 img{
    width:100%;
    height:30vh;
  }
.container-5{
   display:inline-block;
  font-size:12px;
}
.box-4-pro{
    display:block; 
}
.box-4-pro h1{
    font-weight: 300; 
    font-size:0.9rem;  
}
.box-4-pro p{
   width: 90%;
    padding:20px 30px;
    font-size:0.7rem;
    color: white;
    line-height: 1.6em;
}

.container-7{
    display:grid;
    grid-template-columns:2fr;
    margin:20px 30px;
}
.container-8{
    font-size:10px;
}
.container-9{
    display:grid;
    grid-template-columns:1fr;
}
.container-9 img{
    width:100%;
    height:40vh;
}
.cube-5{
   flex-wrap:wrap;
}
.cube-4{
    display:grid;
    grid-template-columns: repeat(2fr, 2fr);
    font-size:11px;
 }
 .btn-10{
     padding:10px 10px;
     margin-bottom:20px;
 }
 .cube-4 input{
     padding:10px 10px;   
     background-color:black;
     border:1px solid gray;
     border-radius:2px;
     color:aliceblue;
     margin-bottom:20px;
 }
 #cube{
     font-size:11px;
     width:180px;
     margin-bottom:10px;
 }
 .cube-4{
     margin-bottom:10px;
 }
 .cube-4 h2{
     font-size:1.2rem;
 }
 .cube-4 input::placeholder{
     font-size:0.66rem;
     color:lightgray;
 }
 .container-6{
    text-align:center;
    font-size: 12px;
}
#heys{
  background-color:black;
  color:white;
  padding:15px 30px;
}
.container-6-1{
    padding:20px 50px;
    margin:40px 30px;
    background-color:white;
    box-shadow:rgba(17,12,46,0.15) 0px 48px 100px 0px;
}
.hmm{
    display: flex;
    justify-content: space-between;
    background-color:rgba(128, 128, 128, 0.87);
    color:white;
    font-size: 0.8rem;
}
#heys{
    background-color:white;
   color:black;
   padding:2px 20px;
}
.btn-7{
    display: block;
   padding:10px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin:10px 10px;
    font-size:0.5rem;
    border-style: none;
}
.box-5 input{
    margin:10px 10px;
}
.box-6 input{
    padding:5px 10px;
    margin:10px 10px;
}
.box-2 p{
  font-size:12px;
}
.box-3 p{
  font-size:12px;
}
.boy{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
}

@media (max-width:350px) {
    .cube-4 input {
        width:90px;
        background-color:black;
        border: 1px solid gray;
        border-radius: 2px;
        color: aliceblue;
        margin-bottom: 20px;
    }
    .box{
      text-align:center;
    }
    .btn-2 {
       width:70px;
       font-size:11px;
    }
    .btn-3 {
        width:60px;
        font-size:11px;
    }
    .container-4 img {
        width: 100%;
        height:20vh;
    }
    .container-6-1 {
        padding: 30px 50px;
        margin: 40px 30px;
        background-color: white;
        box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    }
    .btn-7 {
        display: block;
        padding: 15px 15px;
        background-color: black;
        color: white;
        border-radius: 5px;
        margin: 10px 10px;
        font-size: 0.5rem;
        border-style: none;
    }
.container-child h1{
    font-size:23px;
}
.container-child h3{
    font-size:13px;
}
    .container-3 img {
        width: 70%;
        padding: 5px 25px;
    }
    .container-child h3 {
        font-size: 12px;
    }
    #buttons{
        margin:20px 0;
    }
    .container {
        background-position: center;
        text-align: center;
        height:20vh;
    }
    .btn-10 {
        padding: 10px 20px;
        background-color:rgb(233, 13, 13);
        border-style: none;
        color: white;
        border-radius: 5px;
    }
    #cube {
        font-size:11px;
        width:80%;
        margin-bottom: 10px;
    }
    .cube-4 h2 {
        font-size:2.5rem;
    }
.container-3 p{
   font-size:12px;
}
}





















